<RisteysWeb.LiveTable.table
  id="codewas-table"
  grid_class="data-grid-table codewas--data-grid-table codewas--data-grid-table-conf"
  columns={@columns}
  rows={@display_rows}
  form={@form}
  active_sorter={@active_sorter}
  filters={@filters}
/>
