<RisteysWeb.LiveTable.table
  id="labwas-table"
  grid_class="data-grid-table labwas--data-grid-table labwas--data-grid-table-conf"
  columns={@columns}
  rows={@display_rows}
  form={@form}
  active_sorter={@active_sorter}
  filters={@filters}
/>
